.library-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f7fa;
  padding-bottom: 60px;
}

.library-page .main-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px;
  margin-bottom: 60px;
}

.library-page .content-section {
  display: flex;
  border-radius: 18px;
  background-color: #f5f7fa;
  border: none;
  box-shadow: none;
}

.library-page .borrowed-books-section {
  display: flex;
  flex-direction: column;
  padding: 36px;
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
  display: flex;
  border-radius: 18px;
  background-color: white;
}
.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.library-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.library-table th,
.library-table td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.book-cover {
  width: 40px;
  height: 55px;
  object-fit: cover;
  border-radius: 4px;
}

.genre-tag {
  background: #e8f3ff;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 4px;
  font-size: 12px;
}

.btn {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.btn-profile {
  background: #2563eb;
  color: #ffff;
}

.btn-renew {
  background: #d1fae5;
  color: #065f46;
}

.btn-fine {
  background: #fee2e2;
  color: #b91c1c;
}

.btn-returned {
  background: #e5e7eb;
  color: #6b7280;
  cursor: not-allowed;
}

.btn-disabled {
  background: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}

.library-summary {
  margin-top: 60px;
}

.summary-info h3 {
  color: #2d3748;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.fines-list {
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
}

.fines-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-size: 16px;
  border-bottom: 1px solid #e2e8f0;
}

.fines-list li:last-child {
  border-bottom: 2px solid #cbd5e0;
}

.book-title {
  color: #2d3748;
  flex: 1;
}

.fine-amount {
  color: #e53e3e;
  font-weight: 500;
  margin-left: 24px;
}

.summary-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.summary-total {
  font-size: 18px;
  margin: 0;
}

.summary-total strong {
  color: #1a202c;
}

.btn-pay-all {
  padding: 10px 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #213547;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.btn-pay-all:hover:not(:disabled) {
  background-color: #1a2634;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-pay-all:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
