.profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-page .header-section {
    display: flex;
    text-align: left;
    padding-left: 36px;
}

.profile-page .button-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 36px;
    margin-top: -16px;
    padding-right: 36px;
}

.profile-page .button-section .button-styling {
    background-color: #213547;
    color: white;
    border-radius: 18px;
}

.profile-page .main-section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 48px;
    /* make sure to change below */
    padding: 36px; 
}

.profile-page .content-section {
    display: flex;
    border-radius: 18px;
    background-color: white;
}

.profile-page .profile-overview {
    display: flex;
    padding: 36px;
    gap: 48px;
}

.profile-page .profile-overview p{
    margin: 4px;
}

.profile-page .profile-details {
    display: flex;
    flex-direction: column;
}

.profile-page .profile-pic {
    display: flex;
    border-radius: 50%;
    background-color: hotpink;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.profile-page .personal-info {
    display: flex;
    flex-direction: column;
    padding: 36px;
    width: 1800px;
}

.profile-page .details {
    display: flex;
    column-gap: 480px;
    row-gap: 36px;
    flex-wrap: wrap;
}

.profile-page .info-box {
    width: 212px;
}

.profile-page .address-info {
    display: flex;
    flex-direction: column;
    padding: 36px;
    width: 1600px;
}